<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vue2-ashley-flowchart</title>
  </head>
  <body>
    <div id="flowchart">
      <div
        id="quizWrapper"
        class="quizWrapper"
        v-cloak
        :style="{ display: 'block'}"
      >
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-10" v-if="Q1Answer == !'yes' && Q1Answer == !'no'">
              <!-- First Questions -->
              <div class="Q1">
                <div class="questionWrap">
                  <div class="questionIndex">
                    <p>Q1</p>
                  </div>
                  <h3 class="heading" v-html="Q1Question"></h3>
                  <p v-html="Q1Helper"></p>
                  <hr />
                  <div class="radioButtons">
                    <div>
                      <input
                        type="radio"
                        name="Yes"
                        v-model="Q1Answer"
                        id="Q1AnswerYes"
                        value="yes"
                      />
                      <label for="Q1AnswerYes">&nbsp;Yes</label>
                    </div>
                    <div>
                      <input
                        type="radio"
                        name="No"
                        v-model="Q1Answer"
                        id="Q1AnswerNo"
                        value="no"
                      />
                      <label for="Q1AnswerNo">&nbsp;No</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-10"
              v-if="Q1Answer == 'yes' && Q11Answer == !'self employed as a sole trader' && Q11Answer == !'partner in a business partnership' && Q11Answer == !'director of a limited company'"
            >
              <!-- if First Question = yes - show this Question 1.1 -->
              <div class="Q1.1">
                <div class="questionWrap">
                  <div class="questionIndex">
                    <p>Q1.1</p>
                  </div>
                  <h3 class="heading" v-html="Q11Question"></h3>
                  <p v-html="Q11Helper"></p>
                  <hr />
                  <div class="radioButtons">
                    <div>
                      <input
                        type="radio"
                        name="Self employed as a sole trader"
                        v-model="Q11Answer"
                        id="Q11AnswerSole"
                        value="self employed as a sole trader"
                      />
                      <label for="Q11AnswerSole"
                        >&nbsp;Self employed as a sole trader</label
                      >
                    </div>
                    <div>
                      <input
                        type="radio"
                        name="Partner in a business partnership"
                        v-model="Q11Answer"
                        id="Q11AnswerPartner"
                        value="partner in a business partnership"
                      />
                      <label for="Q11AnswerPartner"
                        >&nbsp;Partner in a business partnership</label
                      >
                    </div>
                    <div>
                      <input
                        type="radio"
                        name="Director of a limited company"
                        v-model="Q11Answer"
                        id="Q11AnswerLimited"
                        value="director of a limited company"
                      />
                      <label for="Q11AnswerLimited"
                        >&nbsp;Director of a limited company</label
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-10"
              v-if="Q11Answer == 'self employed as a sole trader' && Q111Answer == !'yes' && Q111Answer == !'no'"
            >
              <!-- If Question 1.1 == self-employed-as-a-sole-trader - show this Question 1.1.1-->
              <div class="Q1.1.1">
                <div class="questionWrap">
                  <div class="questionIndex">
                    <p>Q1.1.1</p>
                  </div>
                  <h3 v-html="Q111Question"></h3>
                  <p v-html="Q111Helper"></p>
                  <hr />
                  <div class="radioButtons">
                    <div>
                      <input
                        type="radio"
                        name="Yes"
                        v-model="Q111Answer"
                        id="Q111AnswerYes"
                        value="yes"
                      />
                      <label for="Q111AnswerYes">&nbsp;Yes</label>
                    </div>
                    <div>
                      <input
                        type="radio"
                        name="No"
                        v-model="Q111Answer"
                        id="Q111AnswerNo"
                        value="no"
                      />
                      <label for="Q111AnswerNo">&nbsp;No</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-10"
              v-if="Q11Answer == 'partner in a business partnership' && Q112Answer == !'yes' && Q112Answer == !'no'"
            >
              <!-- If Question 1.1 == partner-in-a-business-partnership - show this Question 1.1.2-->
              <div class="Q1.1.2">
                <div class="questionWrap">
                  <div class="questionIndex">
                    <p>Q1.1.2</p>
                  </div>
                  <h3 v-html="Q112Question"></h3>
                  <hr />
                  <div class="radioButtons">
                    <div>
                      <input
                        type="radio"
                        name="Yes"
                        v-model="Q112Answer"
                        id="Q112AnswerYes"
                        value="yes"
                      />
                      <label for="Q112AnswerYes">&nbsp;Yes</label>
                    </div>
                    <div>
                      <input
                        type="radio"
                        name="No"
                        v-model="Q112Answer"
                        id="Q112AnswerNo"
                        value="no"
                      />
                      <label for="Q112AnswerNo">&nbsp;No</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-10"
              v-if="Q11Answer == 'director of a limited company' && Q113Answer == !'yes' && Q113Answer == !'no'"
            >
              <!-- If Question 1.1 == director-of-a-limited-company - show this Question 1.1.3-->
              <div class="Q1.1.3">
                <div class="questionWrap">
                  <div class="questionIndex">
                    <p>Q1.1.3</p>
                  </div>
                  <h3 v-html="Q113Question"></h3>
                  <hr />
                  <div class="radioButtons">
                    <div>
                      <input
                        type="radio"
                        name="Yes"
                        v-model="Q113Answer"
                        id="Q113AnswerYes"
                        value="yes"
                      />
                      <label for="Q113AnswerYes">&nbsp;Yes</label>
                    </div>
                    <div>
                      <input
                        type="radio"
                        name="No"
                        v-model="Q113Answer"
                        id="Q113AnswerNo"
                        value="no"
                      />
                      <label for="Q113AnswerNo">&nbsp;No</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-10"
              v-if="DirectLimitedNextQuiz == 'next' | Q1Answer == 'no' | Q111Answer == 'no' | Q112Answer == 'no' | Q113Answer == 'no' && Q2Answer == !'yes'"
            >
              <!-- if First Question = no - show this Question 2 -->
              <div class="Q2">
                <div class="questionWrap">
                  <div class="questionIndex">
                    <p>Q2</p>
                  </div>
                  <h3 v-html="Q2Question"></h3>
                  <p v-html="Q2Helper"></p>
                  <hr />
                  <div class="radioButtons">
                    <div>
                      <input
                        type="radio"
                        name="Yes"
                        v-model="Q2Answer"
                        id="Q2AnswerYes"
                        value="yes"
                      />
                      <label for="Q2AnswerYes">&nbsp;Yes</label>
                    </div>
                    <div>
                      <input
                        type="radio"
                        name="No"
                        v-model="Q2Answer"
                        id="Q2AnswerNo"
                        value="no"
                      />
                      <label for="Q2AnswerNo">&nbsp;No</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-10" v-if="Q2Answer == 'yes' && Q21Answer == !'yes'">
              <!-- If Question 2 == yes - show this Question 2.1-->
              <div class="Q2.1">
                <div class="questionWrap">
                  <div class="questionIndex">
                    <p>Q2.1</p>
                  </div>
                  <h3 v-html="Q21Question"></h3>
                  <hr />
                  <div class="radioButtons">
                    <div>
                      <input
                        type="radio"
                        name="Yes"
                        v-model="Q21Answer"
                        id="Q21AnswerYes"
                        value="yes"
                      />
                      <label for="Q21AnswerYes">&nbsp;Yes</label>
                    </div>
                    <div>
                      <input
                        type="radio"
                        name="No"
                        v-model="Q21Answer"
                        id="Q21AnswerNo"
                        value="no"
                      />
                      <label for="Q21AnswerNo">&nbsp;No</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-10"
              v-if="Q21Answer == 'no' && Q22Answer == !'yes' && Q22Answer == !'no'"
            >
              <!-- If Question 2.1 == no - show this Question 2.2-->
              <div class="Q2.2">
                <div class="questionWrap">
                  <div class="questionIndex">
                    <p>Q2.2</p>
                  </div>
                  <h3 v-html="Q22Question"></h3>
                  <hr />
                  <div class="radioButtons">
                    <div>
                      <input
                        type="radio"
                        name="Yes"
                        v-model="Q22Answer"
                        id="Q22AnswerYes"
                        value="yes"
                      />
                      <label for="Q22AnswerYes">&nbsp;Yes</label>
                    </div>
                    <div>
                      <input
                        type="radio"
                        name="No"
                        v-model="Q22Answer"
                        id="Q22AnswerNo"
                        value="no"
                      />
                      <label for="Q22AnswerNo">&nbsp;No</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-10"
              v-if="Q2Answer == 'no' | Q22Answer == 'no' && Q3Answer == !'more than £100,000' && Q3Answer == !'less than £50,000' && Q3Answer == !'between £50,000 and £100,000'"
            >
              <!-- If Question 2 == no - show this Question 3-->
              <div class="Q3">
                <div class="questionWrap">
                  <div class="questionIndex">
                    <p>Q3</p>
                  </div>
                  <h3 v-html="Q3Question"></h3>
                  <p v-html="Q3Helper"></p>
                  <hr />
                  <div class="radioButtons">
                    <div>
                      <input
                        type="radio"
                        name="More than £100,000"
                        v-model="Q3Answer"
                        id="Q3AnswerMore"
                        value="more than £100,000"
                      />
                      <label for="Q3AnswerMore">&nbsp;More than £100,000</label>
                    </div>
                    <div>
                      <input
                        type="radio"
                        name="Between £50,000 and £100,000"
                        v-model="Q3Answer"
                        id="Q3AnswerBetween"
                        value="between £50,000 and £100,000"
                      />
                      <label for="Q3AnswerBetween"
                        >&nbsp;Between £50,000 and £100,000</label
                      >
                    </div>
                    <div>
                      <input
                        type="radio"
                        name="Less than £50,000"
                        v-model="Q3Answer"
                        id="Q3AnswerLess"
                        value="less than £50,000"
                      />
                      <label for="Q3AnswerLess">&nbsp;Less than £50,000</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-10"
              v-if="selfAssessNextQuiz == 'next' | Q3Answer == 'less than £50,000' && Q4Answer == !'yes I claimed Child Benefit'"
            >
              <!-- If Question 3 == between || less than - show this Question 4-->
              <div class="Q4">
                <div class="questionWrap">
                  <div class="questionIndex">
                    <p>Q4</p>
                  </div>
                  <h3 v-html="Q4Question"></h3>
                  <hr />
                  <div class="radioButtons">
                    <div>
                      <input
                        type="radio"
                        name="Yes I claimed Child Benefit"
                        v-model="Q4Answer"
                        id="Q4AnswerI"
                        value="yes I claimed Child Benefit"
                      />
                      <label for="Q4AnswerI">
                        &nbsp;<b>Yes</b> I claimed Child Benefit
                      </label>
                    </div>
                    <div>
                      <input
                        type="radio"
                        name="Yes my partner claimed Child Benefit"
                        v-model="Q4Answer"
                        id="Q4AnswerPartner"
                        value="yes my partner claimed Child Benefit"
                      />
                      <label for="Q4AnswerPartner">
                        &nbsp;<b>Yes</b> my partner claimed Child Benefit
                      </label>
                    </div>
                    <div>
                      <input
                        type="radio"
                        name="No"
                        v-model="Q4Answer"
                        id="Q4AnswerNo"
                        value="no"
                      />
                      <label for="Q4AnswerNo">&nbsp;No</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-10"
              v-if="PartnerBenefitNextQuiz == 'next' | ChildBenefitNextQuiz == 'next' | Q4Answer == 'no' && Q5Answer == !'yes'"
            >
              <!-- If Question 4 == no - show this Question 5-->
              <div class="Q5">
                <div class="questionWrap">
                  <div class="questionIndex">
                    <p>Q5</p>
                  </div>
                  <h3 v-html="Q5Question"></h3>
                  <p v-html="Q5Helper"></p>
                  <hr />
                  <div class="radioButtons">
                    <div>
                      <input
                        name="Yes"
                        type="radio"
                        v-model="Q5Answer"
                        id="Q5AnswerYes"
                        value="yes"
                      />
                      <label for="Q5AnswerYes">&nbsp;Yes</label>
                    </div>
                    <div>
                      <input
                        name="No"
                        type="radio"
                        v-model="Q5Answer"
                        id="Q5AnswerNo"
                        value="no"
                      />
                      <label for="Q5AnswerNo">&nbsp;No</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-10"
              v-if="Q5Answer == 'yes' && Q51Answer == !'more than £2,500 or more than £10,000'"
            >
              <!-- If Question 5 == yes - show this Question 5.1-->
              <div class="Q5.1">
                <div class="questionWrap">
                  <div class="questionIndex">
                    <p>Q5.1</p>
                  </div>
                  <h3 v-html="Q51Question"></h3>
                  <p v-html="Q51Helper"></p>
                  <hr />
                  <div class="radioButtons">
                    <div>
                      <input
                        type="radio"
                        name="More than £2,500 (or more than £10,000 before expenses)"
                        v-model="Q51Answer"
                        id="Q51AnswerMore"
                        value="more than £2,500 or more than £10,000"
                      />
                      <label for="Q51AnswerMore">
                        &nbsp;More than £2,500 (or more than £10,000 before
                        expenses)
                      </label>
                    </div>
                    <div>
                      <input
                        type="radio"
                        name="Less than £2,500"
                        v-model="Q51Answer"
                        id="Q51AnswerLess"
                        value="less than £2,500"
                      />
                      <label for="Q51AnswerLess">&nbsp;Less than £2,500</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-10"
              v-if="UKPropertyNextQuiz == 'next' | Q5Answer == 'no' && Q6Answer == !'under £10,000'"
            >
              <!-- If Q5Answer == 'no' || ukPropertyNextQuiz == 'next' - show this Question 6-->
              <div class="Q6">
                <div class="questionWrap">
                  <div class="questionIndex">
                    <p>Q6</p>
                  </div>
                  <h3 v-html="Q6Question"></h3>
                  <p v-html="Q6Helper"></p>
                  <hr />
                  <div class="radioButtons">
                    <div>
                      <input
                        name="Yes"
                        type="radio"
                        v-model="Q6Answer"
                        id="Q6AnswerYes"
                        value="yes"
                      />
                      <label for="Q6AnswerYes">&nbsp;Yes</label>
                    </div>
                    <div>
                      <input
                        name="Under £10,000"
                        type="radio"
                        v-model="Q6Answer"
                        id="Q6AnswerUnder"
                        value="under £10,000"
                      />
                      <label for="Q6AnswerUnder">&nbsp;Under £10,000</label>
                    </div>
                    <div>
                      <input
                        name="No"
                        type="radio"
                        v-model="Q6Answer"
                        id="Q6AnswerNo"
                        value="no"
                      />
                      <label for="Q6AnswerNo">&nbsp;No</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-10"
              v-if="UntaxedNextQuiz == 'next' | Q6Answer == 'no' && Q7Answer == !'no'"
            >
              <!-- If Q6Answer == 'no'- show this Question 7-->
              <div class="Q7">
                <div class="questionWrap">
                  <div class="questionIndex">
                    <p>Q7</p>
                  </div>
                  <h3 v-html="Q7Question"></h3>
                  <ul>
                    <li>- Income from a trust</li>
                    <li>
                      - Income from outside the UK (even if it’s already been
                      taxed in the country where the income originates)
                    </li>
                    <li>
                      - £2,500 or more in commission or cash-in-hand payments
                    </li>
                    <li>- A payment or charge on a private pension</li>
                    <li>
                      - A Self-Employment Income Support Scheme (SEISS) grant
                    </li>
                  </ul>
                  <hr />
                  <div class="radioButtons">
                    <div>
                      <input
                        name="Yes"
                        type="radio"
                        v-model="Q7Answer"
                        id="Q7AnswerYes"
                        value="yes"
                      />
                      <label for="Q7AnswerYes">&nbsp;Yes</label>
                    </div>
                    <div>
                      <input
                        name="No"
                        type="radio"
                        v-model="Q7Answer"
                        id="Q7AnswerNo"
                        value="no"
                      />
                      <label for="Q7AnswerNo">&nbsp;No</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-10" v-if="Q7Answer == 'no' && Q8Answer == !'no'">
              <!-- If Q7Answer == 'no'- show this Question 7-->
              <div class="Q8">
                <div class="questionWrap">
                  <div class="questionIndex">
                    <p>Q8</p>
                  </div>
                  <h3 v-html="Q8Question"></h3>
                  <p v-html="Q8Helper"></p>
                  <hr />
                  <div class="radioButtons">
                    <div>
                      <input
                        name="Yes"
                        type="radio"
                        v-model="Q8Answer"
                        id="Q8AnswerYes"
                        value="yes"
                      />
                      <label for="Q8AnswerYes">&nbsp;Yes</label>
                    </div>
                    <div>
                      <input
                        name="No"
                        type="radio"
                        v-model="Q8Answer"
                        id="Q8AnswerNo"
                        value="no"
                      />
                      <label for="Q8AnswerNo">&nbsp;No</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-10" v-if="Q8Answer == 'no' && Q9Answer == !'no'">
              <!-- If Q8Answer == 'no'- show this Question 7-->
              <div class="Q9">
                <div class="questionWrap">
                  <div class="questionIndex">
                    <p>Q9</p>
                  </div>
                  <h3 v-html="Q9Question"></h3>
                  <p v-html="Q9Helper"></p>
                  <ul>
                    <li>- Religious minister</li>
                    <li>- Lloyd’s underwriter</li>
                    <li>- Examiner, exam moderator or invigilator</li>
                    <li>- Share fisherman</li>
                  </ul>
                  <hr />
                  <div class="radioButtons">
                    <div>
                      <input
                        nae="Yes"
                        type="radio"
                        v-model="Q9Answer"
                        id="Q9AnswerYes"
                        value="yes"
                      />
                      <label for="Q9AnswerYes">&nbsp;Yes</label>
                    </div>
                    <div>
                      <input
                        name="No"
                        type="radio"
                        v-model="Q9Answer"
                        id="Q9AnswerNo"
                        value="no"
                      />
                      <label for="Q9AnswerNo">&nbsp;No</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-11"
              v-if="Q112Answer == 'yes' || Q111Answer == 'yes' || Q21Answer  == 'yes' || Q22Answer == 'yes' || Q3Answer == 'more than £100,000' || Q51Answer == 'more than £2,500 or more than £10,000' || Q6Answer == 'yes' || Q7Answer == 'yes' || Q8Answer == 'yes' || Q9Answer == 'yes'"
            >
              <!--------------------------- Answers ------------------------------>
              <!-- if Sole Answer || Partnership Answer is Yes - Final Answer : fileSelfAssessmentAnswer -->
              <div class="fileSelfAssessmentAnswer questionWrap">
                <div class="finalAnswer">
                  <h2>You’ll need to file a self-assessment return.</h2>
                  <hr />
                  <h4>Any questions?</h4>
                  <h6>Please get in touch with us</h6>
                  <p>
                    our team will be happy to help.
                    <a
                      href="mailto:accounting@sableinternational.com?subject=Self%20Assessment%20Tax%20Return%20Enquiry"
                      aria-label="mailto"
                      >accounting@sableinternational.com</a
                    >
                  </p>
                  <a
                    href="javascript:window.location.reload(true)"
                    class="btn btn-primary"
                    aria-label="Retake assessment"
                    >Retake the assessment</a
                  >
                </div>
              </div>
            </div>
            <div
              class="col-11"
              v-if="Q3Answer == 'between £50,000 and £100,000' && selfAssessNextQuiz == !'next'"
            >
              <!-- if Question 3 Answer == between -->
              <div class="fileSelfAssessAnswer questionWrap">
                <div class="finalAnswer">
                  <h2>
                    If you meet other criteria, you may need to file a
                    self-assessment return.
                  </h2>
                  <hr />
                  <h4>Any questions?</h4>
                  <h6>Please get in touch with us</h6>
                  <p>
                    our team will be happy to help.
                    <a
                      href="mailto:accounting@sableinternational.com?subject=Self%20Assessment%20Tax%20Return%20Enquiry"
                      aria-label="mailto"
                      >accounting@sableinternational.com</a
                    >
                  </p>
                  <div class="radioButtons">
                    <div>
                      <input
                        type="radio"
                        v-model="selfAssessNextQuiz"
                        id="selfAssess"
                        value="next"
                      />
                      <label for="selfAssess">&nbsp;Next question</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-11"
              v-if="Q4Answer == 'yes I claimed Child Benefit' && ChildBenefitNextQuiz == !'next' "
            >
              <!-- Yes I Claimed Answer -->
              <div class="fileSelfAssessAnswer questionWrap">
                <div class="finalAnswer">
                  <h3>
                    If your gross income exceeded £50,000, you’ll need to file a
                    self-assessment return.
                  </h3>
                  <hr />
                  <h4>Any questions?</h4>
                  <h6>Please get in touch with us</h6>
                  <p>
                    our team will be happy to help.
                    <a
                      href="mailto:accounting@sableinternational.com?subject=Self%20Assessment%20Tax%20Return%20Enquiry"
                      aria-label="mailto"
                      >accounting@sableinternational.com</a
                    >
                  </p>
                  <div class="radioButtons">
                    <div>
                      <input
                        type="radio"
                        id="ChildBenefit"
                        v-model="ChildBenefitNextQuiz"
                        value="next"
                      />
                      <label for="ChildBenefit">&nbsp;Next question</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-11"
              v-if="Q4Answer == 'yes my partner claimed Child Benefit' && PartnerBenefitNextQuiz == !'next'"
            >
              <!-- Partner Claimed Answer -->
              <div class="fileSelfAssessAnswer questionWrap">
                <div class="finalAnswer">
                  <h3>
                    If you or your partner earned more than £50,000 during the
                    year, the partner with the higher income in that tax year
                    will need to file a self-assessment return to declare the
                    benefit.
                    <br /><br />
                    If you and your partner earned less than £50,000 during the
                    year, please move onto the next question.
                  </h3>
                  <hr />
                  <h4>Any questions?</h4>
                  <h6>Please get in touch with us</h6>
                  <p>
                    our team will be happy to help.
                    <a
                      href="mailto:accounting@sableinternational.com?subject=Self%20Assessment%20Tax%20Return%20Enquiry"
                      aria-label="mailto"
                      >accounting@sableinternational.com</a
                    >
                  </p>
                  <div class="radioButtons">
                    <div>
                      <input
                        type="radio"
                        v-model="PartnerBenefitNextQuiz"
                        id="PartnerBenefit"
                        value="next"
                      />
                      <label for="PartnerBenefit">&nbsp;Next question</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-11"
              v-if="Q113Answer == 'yes' && DirectLimitedNextQuiz == !'next'"
            >
              <!-- if Limited Answer is Yes - Final Answer : Q113FinalAnswer -->
              <div class="Q113FinalAnswer questionWrap">
                <div class="finalAnswer">
                  <h3>
                    If you received dividend income from your limited company in
                    excess of £10,000 and/or salaried income in excess of
                    £100,000 per annum, you’ll need to file a Self Assessment
                    return.
                  </h3>
                  <hr />
                  <h4>Any questions?</h4>
                  <h6>Please get in touch with us</h6>
                  <p>
                    our team will be happy to help.
                    <a
                      href="mailto:accounting@sableinternational.com?subject=Self%20Assessment%20Tax%20Return%20Enquiry"
                      aria-label="mailto"
                      >accounting@sableinternational.com</a
                    >
                  </p>
                  <div class="radioButtons">
                    <div>
                      <input
                        type="radio"
                        v-model="DirectLimitedNextQuiz"
                        id="DirectLimited"
                        value="next"
                      />
                      <label for="DirectLimited">&nbsp;Next question</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-11"
              v-if="Q51Answer == 'less than £2,500' && UKPropertyNextQuiz == !'next'"
            >
              <!-- if Question 5.1 Answer == less-than -->
              <div class="fileSelfAssessAnswer questionWrap">
                <div class="finalAnswer">
                  <h3>
                    This alone wouldn’t require the submission of a
                    self-assessment. However, you will need to contact HMRC to
                    notify them that you are in receipt of untaxed income. Move
                    to the next question.
                  </h3>
                  <hr />
                  <h4>Any questions?</h4>
                  <h6>Please get in touch with us</h6>
                  <p>
                    our team will be happy to help.
                    <a
                      href="mailto:accounting@sableinternational.com?subject=Self%20Assessment%20Tax%20Return%20Enquiry"
                      aria-label="mailto"
                      >accounting@sableinternational.com</a
                    >
                  </p>
                  <div class="radioButtons">
                    <div>
                      <input
                        type="radio"
                        v-model="UKPropertyNextQuiz"
                        id="UKProperty"
                        value="next"
                      />
                      <label for="UKProperty">&nbsp;Next question</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-11"
              v-if="Q6Answer == 'under £10,000' && UntaxedNextQuiz == !'next'"
            >
              <!-- if Question 6 Answer == under 10 -->
              <div class="fileSelfAssessAnswer questionWrap">
                <div class="finalAnswer">
                  <h3>
                    This alone wouldn’t require the submission of a
                    self-assessment. However, you will need to contact HMRC to
                    notify them that you are in receipt of untaxed income.
                  </h3>
                  <hr />
                  <h4>Any questions?</h4>
                  <h6>Please get in touch with us</h6>
                  <p>
                    our team will be happy to help.
                    <a
                      href="mailto:accounting@sableinternational.com?subject=Self%20Assessment%20Tax%20Return%20Enquiry"
                      aria-label="mailto"
                      >accounting@sableinternational.com</a
                    >
                  </p>
                  <div class="radioButtons">
                    <div>
                      <input
                        type="radio"
                        v-model="UntaxedNextQuiz"
                        id="UntaxedNext"
                        value="next"
                      />
                      <label for="UntaxedNext">&nbsp;Next question</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-11" v-if="Q9Answer == 'no'">
              <!-- if Question 9 Answer == no -->
              <div class="fileSelfAssessAnswer questionWrap">
                <div class="finalAnswer">
                  <h2>
                    If you don’t meet any other criteria that would require the
                    submission of a return, it’s likely that you will not need
                    to be required to a file a return.
                  </h2>
                  <hr />
                  <h4>Any questions?</h4>
                  <h6>Please get in touch with us</h6>
                  <p>
                    our team will be happy to help.
                    <a
                      href="mailto:accounting@sableinternational.com?subject=Self%20Assessment%20Tax%20Return%20Enquiry"
                      aria-label="mailto"
                      >accounting@sableinternational.com</a
                    >
                  </p>
                  <a
                    href="javascript:window.location.reload(true)"
                    class="btn btn-primary"
                    aria-label="Retake Assessment"
                    >Retake the assessment</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        v-cloak
        class="shimmerWrapper"
        style="display: block"
        :style="{ display: 'none'}"
      >
        <div class="container">
          <div class="row justify-content-center">
            <div class="shine col-10"></div>
            <div class="shine col-10"></div>
            <div class="shine col-10"></div>
            <div class="shine col-10"></div>
            <div class="shine col-10"></div>
            <div class="shine col-10"></div>
          </div>
        </div>
      </div>

      <div
        v-if="Q1Answer"
        class="answerWrapper"
        v-cloak
        :style="{ display: 'block'}"
      >
        <div v-if="Q1Answer">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-7">
                <h5><span>Question</span></h5>
                <hr />
              </div>
              <div class="col-5">
                <h5><span>Answer</span></h5>
                <hr />
              </div>
            </div>
          </div>
        </div>
        <div v-if="Q1Answer">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-7">
                <p>{{Q1Question}}</p>
                <hr />
              </div>
              <div class="col-5">
                <p class="quizAnswer">{{Q1Answer}}</p>
                <hr />
              </div>
            </div>
          </div>
        </div>
        <div v-if="Q11Answer">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-7">
                <p>{{Q11Question}}</p>
                <hr />
              </div>
              <div class="col-5">
                <p class="quizAnswer" v-html="Q11Answer"></p>
                <hr />
              </div>
            </div>
          </div>
        </div>
        <div v-if="Q111Answer">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-7">
                <p>{{Q111Question}}</p>
                <hr />
              </div>
              <div class="col-5">
                <p class="quizAnswer">{{Q111Answer}}</p>
                <hr />
              </div>
            </div>
          </div>
        </div>
        <div v-if="Q112Answer">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-7">
                <p>{{Q112Question}}</p>
                <hr />
              </div>
              <div class="col-5">
                <p class="quizAnswer">{{Q112Answer}}</p>
                <hr />
              </div>
            </div>
          </div>
        </div>
        <div v-if="Q113Answer">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-7">
                <p>{{Q113Question}}</p>
                <hr />
              </div>
              <div class="col-5">
                <p class="quizAnswer">{{Q113Answer}}</p>
                <hr />
              </div>
            </div>
          </div>
        </div>
        <div v-if="Q2Answer">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-7">
                <p>{{Q2Question}}</p>
                <hr />
              </div>
              <div class="col-5">
                <p class="quizAnswer">{{Q2Answer}}</p>
                <hr />
              </div>
            </div>
          </div>
        </div>
        <div v-if="Q21Answer">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-7">
                <p>{{Q21Question}}</p>
                <hr />
              </div>
              <div class="col-5">
                <p class="quizAnswer">{{Q21Answer}}</p>
                <hr />
              </div>
            </div>
          </div>
        </div>
        <div v-if="Q22Answer">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-7">
                <p>{{Q22Question}}</p>
                <hr />
              </div>
              <div class="col-5">
                <p class="quizAnswer">{{Q22Answer}}</p>
                <hr />
              </div>
            </div>
          </div>
        </div>
        <div v-if="Q3Answer">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-7">
                <p>{{Q3Question}}</p>
                <hr />
              </div>
              <div class="col-5">
                <p class="quizAnswer">{{Q3Answer}}</p>
                <hr />
              </div>
            </div>
          </div>
        </div>
        <div v-if="Q4Answer">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-7">
                <p>{{Q4Question}}</p>
                <hr />
              </div>
              <div class="col-5">
                <p class="quizAnswer">{{Q4Answer}}</p>
                <hr />
              </div>
            </div>
          </div>
        </div>
        <div v-if="Q5Answer">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-7">
                <p>{{Q5Question}}</p>
                <hr />
              </div>
              <div class="col-5">
                <p class="quizAnswer">{{Q5Answer}}</p>
                <hr />
              </div>
            </div>
          </div>
        </div>
        <div v-if="Q51Answer">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-7">
                <p>{{Q51Question}}</p>
                <hr />
              </div>
              <div class="col-5">
                <p class="quizAnswer">{{Q51Answer}}</p>
                <hr />
              </div>
            </div>
          </div>
        </div>
        <div v-if="Q6Answer">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-7">
                <p>{{Q6Question}}</p>
                <hr />
              </div>
              <div class="col-5">
                <p class="quizAnswer">{{Q6Answer}}</p>
                <hr />
              </div>
            </div>
          </div>
        </div>
        <div v-if="Q7Answer">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-7">
                <p>{{Q7Question}}</p>
                <hr />
              </div>
              <div class="col-5">
                <p class="quizAnswer">{{Q7Answer}}</p>
                <hr />
              </div>
            </div>
          </div>
        </div>
        <div v-if="Q8Answer">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-7">
                <p>{{Q8Question}}</p>
                <hr />
              </div>
              <div class="col-5">
                <p class="quizAnswer">{{Q8Answer}}</p>
                <hr />
              </div>
            </div>
          </div>
        </div>
        <div v-if="Q9Answer">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-7">
                <p>{{Q9Question}}</p>
                <hr />
              </div>
              <div class="col-5">
                <p class="quizAnswer">{{Q9Answer}}</p>
                <hr />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/combine/npm/jquery@3.6.0,npm/popper.js@1.16.1,npm/bootstrap@4.6.0,npm/blazy@1.8.2,npm/waypoints@4.0.1/lib/noframework.waypoints.min.js,gh/osvaldasvalutis/disqusLoader.js/disqusloader.min.js,npm/@splidejs/splide@3.6.12/dist/js/splide.min.js,npm/lite-youtube-embed@0.2.0/src/lite-yt-embed.min.js,npm/vue@3.2.37/dist/vue.global.min.js"></script>

    <script>
      var waypoints = new Waypoint({
        element: document.getElementById("flowchart"),
        handler: function (direction) {
          const { createApp } = Vue;

          createApp({
            data() {
              return {
                isVisible: false,
                Q1Question: "Did you work for yourself?",
                Q1Helper:
                  "You may have worked for yourself as a sole trader, a business partner, or a director of a limited company – even if you had another job as well.",
                Q1Answer: false,
                Q11Question:
                  "What was your work status when you worked for yourself?",
                Q11Helper:
                  "You may have worked for yourself as a sole trader, a business partner, or a director of a limited company – even if you had another job as well.",
                Q11Answer: false,
                Q111Question: "Self employed as a sole trader",
                Q111Helper:
                  "Did you earn more than £1,000 from working for yourself?",
                Q111Answer: false,
                Q112Question: "Partner in a business partnership",
                Q112Answer: false,
                Q113Question: "Director of a limited company",
                Q113Answer: false,
                Q2Question: "Did you work as an ‘off-payroll’ worker?",
                Q2Helper:
                  "You’re an off-payroll worker (also sometimes called a contractor) if you provide services to a client through an intermediary such as your own limited company, a partnership, a personal service company, an individual.",
                Q2Answer: false,
                Q21Question: "Do you have a UK student loan?",
                Q21Answer: false,
                Q22Question: "Will you earn more than £100,000 per annum?",
                Q22Answer: false,
                Q3Question: "What was your total income for the year?",
                Q3Helper:
                  "To work this out, add up all your income. For example, salary before tax, taxable benefits (such as a company car), and income from investments or pensions.",
                Q3Answer: false,
                Q4Question: "Did you or your partner claim Child Benefit?",
                Q4Answer: false,
                Q5Question:
                  "Did any of your income come from UK property or land?",
                Q5Helper:
                  "This includes renting out a property or using your home as a short-term holiday let.",
                Q5Answer: false,
                Q51Question: "How much did you get from UK property or land?",
                Q51Helper:
                  "To work this out, add up your total income from property or land and deduct any allowable expenses. For example, maintenance and repair costs.",
                Q51Answer: false,
                Q6Question:
                  "Did you receive more than £10,000 from dividends or savings and investments?",
                Q6Helper:
                  "Income from savings and investments includes savings interest, money from bare trusts, interest in possession trusts.",
                Q6Answer: false,
                Q7Question: "Do you need to pay tax on any of the following?",
                Q7Answer: false,
                Q8Question: "Do you need to pay Capital Gains Tax (CGT)?",
                Q8Helper:
                  "You usually have to pay CGT when you sell or give away most personal possessions worth £6,000 or more (apart from your car) or any other assets, such as shares, Crypto assets or a holiday home.",
                Q8Answer: false,
                Q9Question:
                  "Did you hold a position that affects how you’re taxed?",
                Q9Helper: "The positions that affect how you’re taxed are:",
                Q9Answer: false,
                selfAssessNextQuiz: false,
                UKPropertyNextQuiz: false,
                DirectLimitedNextQuiz: false,
                ChildBenefitNextQuiz: false,
                PartnerBenefitNextQuiz: false,
                UntaxedNextQuiz: false,
              };
            },
            methods: {
              onClick() {
                this.isVisible = !this.isVisible;
                setTimeout(
                  function () {
                    quiz = document.body;
                    console.log(quiz.querySelector(".quizWrapper"));
                  }.bind(this),
                  250
                );
              },
            },
            mounted() {},
          }).mount("#flowchart");

          this.destroy();
        },
        offset: "80%",
      });
    </script>
  </body>
</html>
