html {
  scroll-behavior: smooth;
}
[v-cloak] {
  display: none;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 100px auto;
}
option {
  text-overflow: ellipsis;
}

.form-group {
  margin: 50px 0px;
  overflow: hidden;
}

.result {
  width: 100%;
  border: 1px solid grey;
  padding: 10px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.pointsCol {
  box-shadow: 0px 0px 6px #00000029;
  border: 1px solid #dfdfdf;
  opacity: 1;
  padding: 100px;
  border-radius: 10px;
}

.visaHeading {
  margin: 40px 0px;
}
.visaHeading p {
  margin: 40px 0px;
}
