<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vue-browser-prod</title>
  </head>
  <body>
    <section
      class="max-w-4xl p-6 mx-auto bg-white rounded-md shadow-md dark:bg-gray-800"
    >
      <h2
        class="text-lg font-semibold text-gray-700 capitalize dark:text-white"
      >
        Account settings
      </h2>

      <form>
        <div class="grid grid-cols-1 gap-6 mt-4">
          <div>
            <label class="text-gray-700 dark:text-gray-200" for="username"
              >Username</label
            >
            <input
              type="text"
              class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring"
            />
          </div>

          <div>
            <label class="text-gray-700 dark:text-gray-200" for="emailAddress"
              >Email Address</label
            >
            <input
              type="email"
              class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring"
            />
          </div>

          <div>
            <label class="text-gray-700 dark:text-gray-200" for="password"
              >Password</label
            >
            <input
              type="password"
              class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring"
            />
          </div>
        </div>

        <div class="flex justify-end mt-6">
          <button
            class="px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600"
          >
            Save
          </button>
        </div>
      </form>
    </section>

    <div id="app">
      <div class="mb-6">
        <label
          for="email"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >Your email</label
        >
        <input
          type="number"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="name@flowbite.com"
          required
          v-model="a"
        />
      </div>
      <div>
        <label class="text-gray-700 dark:text-gray-200" for="username"
          >Username</label
        >
        <input
          id="username"
          type="text"
          class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring"
        />
      </div>
      <input type="number" class="block" v-model="b" />
      <button
        class="m-1 p-2 text-white bg-blue-600 rounded focus:outline-none block"
        @click="calculate"
      >
        Calculate
      </button>
      <span>{{ answer }}</span>
    </div>
    <!--
    <script
      src="https://cdn.jsdelivr.net/npm/vue@3.2.33/dist/vue.esm-browser.prod.js"
      type="module"
    ></script>
    -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.33/dist/vue.global.prod.min.js"></script>

    <script>
      const { createApp } = Vue;

      createApp({
        data() {
          return {
            a: 0,
            b: 0,
            answer: null,
          };
        },
        methods: {
          calculate() {
            this.answer = parseInt(this.a) + parseInt(this.b);
          },
        },
        computed: {
          // any computed variables defined here
        },
        mounted() {
          // if you want to run code when page/app has loaded
        },
      }).mount("#app");
    </script>
  </body>
</html>
