<!--
https://codepen.io/ashleyqhim4321/pen/MWGyyBa
 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vue2-ashley-points-calculator (revision 2)</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="app.css" />
  </head>
  <body>
    <h2>Revision 2 (A)</h2>
    <transition name="fade" mode="out-in">
      <div id="pointsCalculator">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-9 col-12 pointsCol">
              <div class="visaHeading">
                <h2>Points calculator</h2>
                <p v-if="!VisaQuiz">Select visa subclass:</p>
              </div>
              <!-- 
                  Initialize VisaQuiz to null, then you can use straight !VisaQuiz 
                
                  !VisaQuiz means = if variable is undefined or null
                  ! also refer to false if used with a boolean variable
                -->
              <div class="selectVisaButtons" v-if="!VisaQuiz">
                <p>Select visa subclass</p>

                <div v-for="(visa, index) in visas" :key="index">
                  <label>
                    <input type="radio" v-model="VisaQuiz" :value="visa.val" />
                    &nbsp;<span>{{ visa.heading }}</span>
                  </label>
                </div>
              </div>

              <!-- 188 -->
              <!-- ! VisaQuiz is a number, dont use '188' just use 188 -->
              <form class="BIIOption" v-if="VisaQuiz == 188">
                <h4>
                  Business Innovation and Investment (Provisional) visa
                  (subclass 188)
                </h4>
                <p>
                  To check how many points you might score use the
                  <a href="#">points table.</a>
                </p>

                <div v-show="!biiVisaQuestionnaireCompleted">
                  <!-- Progress Bar -->
                  <div>
                    <h4>
                      <!-- !!
                             find the index of the current visible/checked visa 
                             var currentIndex = array.findIndex(a => a.checked).

                             Just use one <span> and use moustache tags - {{}} -  inside.

                             v-html should only be use for vue data variables that contains html content.
                             Eg.
                             var heading = '<h1>Hello world</h1>'                       

                             For normal, just use {{ text }}
                      -->
                      <span>{{ biiVisasCurrentIndex + 1 }} questions</span> of
                      {{ BIIVisas.length }}
                    </h4>
                    <div class="progress">
                      <div
                        class="progress-bar"
                        role="progressbar"
                        :style="'width:'+ biiVisaPercentage + '%'"
                        :aria-valuenow="biiVisaPercentage"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>

                  <!-- Select Options (Loop) -->
                  <div
                    v-for="(biivisa, index) in BIIVisas"
                    class="BII_Visa form-group"
                    v-show="biivisa.checked"
                  >
                    <h5>{{ biivisa.heading }}</h5>
                    <div v-html="biivisa.content"></div>
                    <br />
                    <h6>{{ biivisa.subheading }}</h6>
                    <select
                      class="form-control"
                      v-model="biivisa.model"
                      @input="biiQuizOnChange(index)"
                    >
                      <option selected disabled>Please select</option>
                      <option
                        v-for="option in biivisa.options"
                        :value="option.value"
                      >
                        {{ option.name }}
                      </option>
                    </select>
                  </div>
                </div>

                <!-- BII Results -->
                <div
                  class="resultWrapper BIIResults"
                  v-show="biiVisaQuestionnaireCompleted"
                >
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <h3>Your total points summary</h3>
                      </div>
                    </div>

                    <div
                      class="row mt-4 mb-4"
                      v-for="(biivisa, index) in BIIVisas"
                    >
                      <div class="col-6" v-html="biivisa.heading"></div>
                      <div class="col-6">
                        <!-- 
                                Always use a v-model to store or set values.
                                <input v-model="answer" />
                            -->
                        <input
                          type="text"
                          :name="biivisa.model"
                          :value="biivisa.model"
                        />
                      </div>
                    </div>
                    <!-- reset -->
                    <div class="reset row mt-4 mb-4">
                      <div class="col-6">
                        <button class="reset" v-on:click="resetCalculator">
                          Reset Calculator
                        </button>
                      </div>
                      <div class="col-6">
                        <input
                          class="value"
                          type="text"
                          name="BIITotalPoints"
                          :value="biiVisaTotalPoints"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </form>

              <!-- 189 -->
              <form class="SIOption" v-if="VisaQuiz == '189'">
                <h4>Skilled Independent visa (subclass 189)</h4>
                <p>
                  To check how many points you might score use the
                  <a href="#">points table.</a>
                </p>

                <div
                  v-for="(sivisa, index) in SIVisas"
                  class="SI_Visa form-group"
                  :id="sivisa.vmodel"
                  v-show="sivisa.checked"
                >
                  <!-- Progress Bar -->
                  <div>
                    <h4 class="progress-quiz">
                      <span class="index-value" v-html="index+1"></span> of
                      <span v-html="SIVisas.length-1"></span>
                      questions
                    </h4>
                    <div class="progress">
                      <div
                        class="progress-bar"
                        role="progressbar"
                        :style="'width:'+ (index+1) / (SIVisas.length-1) * totalBar + '%'"
                        :aria-valuenow="(index+1) / (SIVisas.length-1) * totalBar"
                        :aria-valuemin="0"
                        :aria-valuemax="totalBar"
                      ></div>
                    </div>
                  </div>

                  <h5 v-html="sivisa.heading"></h5>
                  <div v-html="sivisa.content"></div>
                  <br />
                  <h6 v-html="sivisa.subheading"></h6>
                  <select
                    class="form-control"
                    :id="sivisa.vmodel"
                    :required="true"
                    @input="SIQuizonChange($event)"
                  >
                    <option v-model="sivisa.vmodel" value="0" selected disabled>
                      Please select
                    </option>
                    <option
                      v-for="items in sivisa.options"
                      v-model="sivisa.vmodel"
                      v-bind:value="items.value"
                      v-html="items.name"
                    ></option>
                  </select>
                  <!-- <select
                    v-if="options2 = ! ''"
                    class="form-control"
                    :id="sivisa.vmodel"
                    :required="true"
                    @input="SIQuizonChange($event)"
                  >
                    <option v-model="sivisa.vmodel" value="0" selected disabled>
                      Please select
                    </option>
                    <option
                      v-for="items in sivisa.options2"
                      v-model="sivisa.vmodel"
                      v-bind:value="items.value"
                      v-html="items.name"
                    ></option>
                  </select> -->
                </div>

                <div class="resultWrapper SIResults" v-show="SIResults">
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <h3>Your total points summary</h3>
                      </div>
                    </div>
                    <!-- age results -->
                    <div
                      class="row mt-4 mb-4"
                      v-for="(sivisa, index) in SIVisas"
                    >
                      <div class="col-6" v-html="sivisa.heading"></div>
                      <div class="col-6">
                        <input type="number" :name="sivisa.vmodel" value="0" />
                      </div>
                    </div>
                    <!-- reset -->
                    <div class="reset row mt-4 mb-4">
                      <div class="col-6">
                        <button class="reset" v-on:click="resetCalculator">
                          Reset Calculator
                        </button>
                      </div>
                      <div class="col-6">
                        <input
                          class="value"
                          type="number"
                          name="SITotalPoints"
                          value="0"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </form>

              <!-- 190 -->
              <form class="SNOption" v-if="VisaQuiz == '190'">
                <h4>Skilled Nominated visa (subclass 190)</h4>
                <p>
                  To check how many points you might score use the
                  <a href="#">points table.</a>
                </p>
                <p>
                  Note: ​Points criteria are assessed at the time of invitation.
                </p>

                <div
                  v-for="(snvisa, index) in SNVisas"
                  class="SN_Visa form-group"
                  :id="snvisa.vmodel"
                  v-show="snvisa.checked"
                >
                  <!-- Progress Bar -->
                  <div>
                    <h4 class="progress-quiz">
                      <span class="index-value" v-html="index+1"></span> of
                      <span v-html="SNVisas.length-1"></span>
                      questions
                    </h4>
                    <div class="progress">
                      <div
                        class="progress-bar"
                        role="progressbar"
                        :style="'width:'+ (index+1) / (SNVisas.length-1) * totalBar + '%'"
                        :aria-valuenow="(index+1) / (SNVisas.length-1) * totalBar"
                        :aria-valuemin="0"
                        :aria-valuemax="totalBar"
                      ></div>
                    </div>
                  </div>

                  <h5 v-html="snvisa.heading"></h5>
                  <div v-html="snvisa.content"></div>
                  <br />
                  <h6 v-html="snvisa.subheading"></h6>
                  <select
                    class="form-control"
                    :id="snvisa.vmodel"
                    :required="true"
                    @input="SNQuizonChange($event)"
                  >
                    <option v-model="snvisa.vmodel" value="0" selected disabled>
                      Please select
                    </option>
                    <option
                      v-for="items in snvisa.options"
                      v-model="snvisa.vmodel"
                      v-bind:value="items.value"
                      v-html="items.name"
                    ></option>
                  </select>
                  <!-- <select
                    v-if="options2 = ! ''"
                    class="form-control"
                    :id="snvisa.vmodel"
                    :required="true"
                    @input="SNQuizonChange($event)"
                  >
                    <option v-model="snvisa.vmodel" value="0" selected disabled>
                      Please select
                    </option>
                    <option
                      v-for="items in snvisa.options2"
                      v-model="snvisa.vmodel"
                      v-bind:value="items.value"
                      v-html="items.name"
                    ></option>
                  </select> -->
                </div>

                <div class="resultWrapper SNResults" v-show="SNResults">
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <h3>Your total points summary</h3>
                      </div>
                    </div>
                    <!-- age results -->
                    <div
                      class="row mt-4 mb-4"
                      v-for="(snvisa, index) in SNVisas"
                    >
                      <div class="col-6" v-html="snvisa.heading"></div>
                      <div class="col-6">
                        <input type="number" :name="snvisa.vmodel" value="0" />
                      </div>
                    </div>
                    <!-- reset -->
                    <div class="reset row mt-4 mb-4">
                      <div class="col-6">
                        <button class="reset" v-on:click="resetCalculator">
                          Reset Calculator
                        </button>
                      </div>
                      <div class="col-6">
                        <input
                          class="value"
                          type="number"
                          name="SNTotalPoints"
                          value="0"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </form>

              <!-- 489 -->
              <form class="SROption" v-if="VisaQuiz == '489'">
                <h4>Skilled Regional (Provisional) visa (subclass 489)</h4>
                <p>
                  To check how many points you might score use the
                  <a href="#">points table.</a>
                </p>
                <p>
                  Note: ​Points criteria are assessed at the time of invitation.
                </p>

                <div
                  v-for="(srvisa, index) in SRVisas"
                  class="SR_Visa form-group"
                  :id="srvisa.vmodel"
                  v-show="srvisa.checked"
                >
                  <!-- Progress Bar -->
                  <div>
                    <h4 class="progress-quiz">
                      <span class="index-value" v-html="index+1"></span> of
                      <span v-html="SRVisas.length-1"></span>
                      questions
                    </h4>
                    <div class="progress">
                      <div
                        class="progress-bar"
                        role="progressbar"
                        :style="'width:'+ (index+1) / (SRVisas.length-1) * totalBar + '%'"
                        :aria-valuenow="(index+1) / (SRVisas.length-1) * totalBar"
                        :aria-valuemin="0"
                        :aria-valuemax="totalBar"
                      ></div>
                    </div>
                  </div>

                  <h5 v-html="srvisa.heading"></h5>
                  <div v-html="srvisa.content"></div>
                  <br />
                  <h6 v-html="srvisa.subheading"></h6>
                  <select
                    class="form-control"
                    :id="srvisa.vmodel"
                    :required="true"
                    @input="SRQuizonChange($event)"
                  >
                    <option v-model="srvisa.vmodel" value="0" selected disabled>
                      Please select
                    </option>
                    <option
                      v-for="items in srvisa.options"
                      v-model="srvisa.vmodel"
                      v-bind:value="items.value"
                      v-html="items.name"
                    ></option>
                  </select>
                  <!-- <select
                    v-if="options2 = ! ''"
                    class="form-control"
                    :id="srvisa.vmodel"
                    :required="true"
                    @input="SRQuizonChange($event)"
                  >
                    <option v-model="srvisa.vmodel" value="0" selected disabled>
                      Please select
                    </option>
                    <option
                      v-for="items in srvisa.options2"
                      v-model="srvisa.vmodel"
                      v-bind:value="items.value"
                      v-html="items.name"
                    ></option>
                  </select> -->
                </div>

                <div class="resultWrapper SRResults" v-show="SRResults">
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <h3>Your total points summary</h3>
                      </div>
                    </div>
                    <!-- age results -->
                    <div
                      class="row mt-4 mb-4"
                      v-for="(srvisa, index) in SRVisas"
                    >
                      <div class="col-6" v-html="srvisa.heading"></div>
                      <div class="col-6">
                        <input type="number" :name="srvisa.vmodel" value="0" />
                      </div>
                    </div>
                    <!-- reset -->
                    <div class="reset row mt-4 mb-4">
                      <div class="col-6">
                        <button class="reset" v-on:click="resetCalculator">
                          Reset Calculator
                        </button>
                      </div>
                      <div class="col-6">
                        <input
                          class="value"
                          type="number"
                          name="SRTotalPoints"
                          value="0"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </form>

              <!-- 491 -->
              <form class="SWOption" v-if="VisaQuiz == '491'">
                <h4>Skilled Work Regional (provisional) visa (subclass 491)</h4>
                <p>
                  To check how many points you might score use the
                  <a href="#">points table.</a>
                </p>
                <p>
                  Note: ​Points criteria are assessed at the time of invitation.
                </p>

                <div
                  v-for="(swvisa, index) in SWVisas"
                  class="SW_Visa form-group"
                  :id="swvisa.vmodel"
                  v-show="swvisa.checked"
                >
                  <!-- Progress Bar -->
                  <div>
                    <h4 class="progress-quiz">
                      <span class="index-value" v-html="index+1"></span> of
                      <span v-html="SWVisas.length-1"></span>
                      questions
                    </h4>
                    <div class="progress">
                      <div
                        class="progress-bar"
                        role="progressbar"
                        :style="'width:'+ (index+1) / (SWVisas.length-1) * totalBar + '%'"
                        :aria-valuenow="(index+1) / (SWVisas.length-1) * totalBar"
                        :aria-valuemin="0"
                        :aria-valuemax="totalBar"
                      ></div>
                    </div>
                  </div>

                  <h5 v-html="swvisa.heading"></h5>
                  <div v-html="swvisa.content"></div>
                  <br />
                  <h6 v-html="swvisa.subheading"></h6>
                  <select
                    class="form-control"
                    :id="swvisa.vmodel"
                    :required="true"
                    @input="SWQuizonChange($event)"
                  >
                    <option v-model="swvisa.vmodel" value="0" selected disabled>
                      Please select
                    </option>
                    <option
                      v-for="items in swvisa.options"
                      v-model="swvisa.vmodel"
                      v-bind:value="items.value"
                      v-html="items.name"
                    ></option>
                  </select>
                  <!-- <select
                    v-if="options2 = ! ''"
                    class="form-control"
                    :id="swvisa.vmodel"
                    :required="true"
                    @input="SWQuizonChange($event)"
                  >
                    <option v-model="swvisa.vmodel" value="0" selected disabled>
                      Please select
                    </option>
                    <option
                      v-for="items in swvisa.options2"
                      v-model="swvisa.vmodel"
                      v-bind:value="items.value"
                      v-html="items.name"
                    ></option>
                  </select> -->
                </div>

                <div class="resultWrapper SWResults" v-show="SWResults">
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <h3>Your total points summary</h3>
                      </div>
                    </div>
                    <!-- age results -->
                    <div
                      class="row mt-4 mb-4"
                      v-for="(swvisa, index) in SWVisas"
                    >
                      <div class="col-6" v-html="swvisa.heading"></div>
                      <div class="col-6">
                        <input type="number" :name="swvisa.vmodel" value="0" />
                      </div>
                    </div>
                    <!-- reset -->
                    <div class="reset row mt-4 mb-4">
                      <div class="col-6">
                        <button class="reset" v-on:click="resetCalculator">
                          Reset Calculator
                        </button>
                      </div>
                      <div class="col-6">
                        <input
                          class="value"
                          type="number"
                          name="SWTotalPoints"
                          value="0"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </transition>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
