html {
  scroll-behavior: smooth;
}
[v-cloak] {
  display: none;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 100px auto;
}

.form-group {
  margin: 50px 0px;
}
optgroup {
  width: 200px;
}
.result {
  width: 100%;
  border: 1px solid grey;
  padding: 10px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.select {
  display: block;
  position: relative;
  max-width: 100%;
  border: 1px solid grey;
  padding: 5px 20px;
  border-radius: 5px;
}
.select::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #aa7a1a transparent;
}

.select.active {
  /*   background: yellow; */
}
.select.active::after {
  border-width: 0px 6px 6px 6px;
}

.d-none {
  display: none;
}
.d-block {
  display: block;
}

.wrapper {
  position: absolute;
  border: 1px solid grey;
  margin-top: 15px;
  left: 0px;
  background: #fff;
  max-width: 100%;
  width: 100%;
}
.wrapper .option {
  padding: 5px 10px;
}
.wrapper .option:hover {
  background: grey;
  color: #fff;
}

.pointsCol {
  box-shadow: 0px 0px 6px #00000029;
  border: 1px solid #dfdfdf;
  opacity: 1;
  padding: 50px 100px;
  border-radius: 10px;
}

.visaHeading {
  margin: 40px 0px;
}
.visaHeading p {
  margin: 40px 0px;
  font-weight: 500;
}
.progress {
  height: 12px;
  margin: 30px 0px;
}
.progress-bar {
  background: transparent
    linear-gradient(180deg, #0d4764 0%, #115577de 51%, #043246bf 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 3px;
  opacity: 1;
}
a {
  text-decoration: none;
  color: #aa7a1a;
}
a:hover {
  color: #aa7a1a;
}
.selectVisaButtons label:hover {
  font-weight: 900;
}
.progress-quiz {
  font-weight: 400;
  font-size: 1.25rem;
}
h4 span {
  font-size: 1.75rem;
  font-weight: 700;
}
.hint {
  background: transparent
    linear-gradient(180deg, #0d4764 0%, #115577de 51%, #043246bf 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  color: #fff;
  padding: 5px 10px;
  border-radius: 25px;
  position: relative;
  left: 30px;
}
