/* layer: preflights */
*,
::before,
::after {
  --un-rotate: 0;
  --un-rotate-x: 0;
  --un-rotate-y: 0;
  --un-rotate-z: 0;
  --un-scale-x: 1;
  --un-scale-y: 1;
  --un-scale-z: 1;
  --un-skew-x: 0;
  --un-skew-y: 0;
  --un-translate-x: 0;
  --un-translate-y: 0;
  --un-translate-z: 0;
  --un-pan-x: ;
  --un-pan-y: ;
  --un-pinch-zoom: ;
  --un-scroll-snap-strictness: proximity;
  --un-ordinal: ;
  --un-slashed-zero: ;
  --un-numeric-figure: ;
  --un-numeric-spacing: ;
  --un-numeric-fraction: ;
  --un-border-spacing-x: 0;
  --un-border-spacing-y: 0;
  --un-ring-offset-shadow: 0 0 rgba(0, 0, 0, 0);
  --un-ring-shadow: 0 0 rgba(0, 0, 0, 0);
  --un-shadow-inset: ;
  --un-shadow: 0 0 rgba(0, 0, 0, 0);
  --un-ring-inset: ;
  --un-ring-offset-width: 0px;
  --un-ring-offset-color: #fff;
  --un-ring-width: 0px;
  --un-ring-color: rgba(147, 197, 253, 0.5);
  --un-blur: ;
  --un-brightness: ;
  --un-contrast: ;
  --un-drop-shadow: ;
  --un-grayscale: ;
  --un-hue-rotate: ;
  --un-invert: ;
  --un-saturate: ;
  --un-sepia: ;
  --un-backdrop-blur: ;
  --un-backdrop-brightness: ;
  --un-backdrop-contrast: ;
  --un-backdrop-grayscale: ;
  --un-backdrop-hue-rotate: ;
  --un-backdrop-invert: ;
  --un-backdrop-opacity: ;
  --un-backdrop-saturate: ;
  --un-backdrop-sepia: ;
}
::backdrop {
  --un-rotate: 0;
  --un-rotate-x: 0;
  --un-rotate-y: 0;
  --un-rotate-z: 0;
  --un-scale-x: 1;
  --un-scale-y: 1;
  --un-scale-z: 1;
  --un-skew-x: 0;
  --un-skew-y: 0;
  --un-translate-x: 0;
  --un-translate-y: 0;
  --un-translate-z: 0;
  --un-pan-x: ;
  --un-pan-y: ;
  --un-pinch-zoom: ;
  --un-scroll-snap-strictness: proximity;
  --un-ordinal: ;
  --un-slashed-zero: ;
  --un-numeric-figure: ;
  --un-numeric-spacing: ;
  --un-numeric-fraction: ;
  --un-border-spacing-x: 0;
  --un-border-spacing-y: 0;
  --un-ring-offset-shadow: 0 0 rgba(0, 0, 0, 0);
  --un-ring-shadow: 0 0 rgba(0, 0, 0, 0);
  --un-shadow-inset: ;
  --un-shadow: 0 0 rgba(0, 0, 0, 0);
  --un-ring-inset: ;
  --un-ring-offset-width: 0px;
  --un-ring-offset-color: #fff;
  --un-ring-width: 0px;
  --un-ring-color: rgba(147, 197, 253, 0.5);
  --un-blur: ;
  --un-brightness: ;
  --un-contrast: ;
  --un-drop-shadow: ;
  --un-grayscale: ;
  --un-hue-rotate: ;
  --un-invert: ;
  --un-saturate: ;
  --un-sepia: ;
  --un-backdrop-blur: ;
  --un-backdrop-brightness: ;
  --un-backdrop-contrast: ;
  --un-backdrop-grayscale: ;
  --un-backdrop-hue-rotate: ;
  --un-backdrop-invert: ;
  --un-backdrop-opacity: ;
  --un-backdrop-saturate: ;
  --un-backdrop-sepia: ;
}
/* layer: default */
.grid {
  display: grid;
}
.block {
  display: block;
}
.aspect-square {
  aspect-ratio: 1/1;
}
.gap-2 {
  grid-gap: 0.5rem;
  gap: 0.5rem;
}
.bg-green-500 {
  --un-bg-opacity: 1;
  background-color: rgba(34, 197, 94, var(--un-bg-opacity));
}
.bg-sky-100 {
  --un-bg-opacity: 1;
  background-color: rgba(224, 242, 254, var(--un-bg-opacity));
}
.bg-sky-200 {
  --un-bg-opacity: 1;
  background-color: rgba(186, 230, 253, var(--un-bg-opacity));
}
.bg-sky-300 {
  --un-bg-opacity: 1;
  background-color: rgba(125, 211, 252, var(--un-bg-opacity));
}
.bg-sky-400 {
  --un-bg-opacity: 1;
  background-color: rgba(56, 189, 248, var(--un-bg-opacity));
}
.bg-sky-50 {
  --un-bg-opacity: 1;
  background-color: rgba(240, 249, 255, var(--un-bg-opacity));
}
.bg-sky-500 {
  --un-bg-opacity: 1;
  background-color: rgba(14, 165, 233, var(--un-bg-opacity));
}
.bg-sky-600 {
  --un-bg-opacity: 1;
  background-color: rgba(2, 132, 199, var(--un-bg-opacity));
}
.bg-sky-700 {
  --un-bg-opacity: 1;
  background-color: rgba(3, 105, 161, var(--un-bg-opacity));
}
.bg-sky-800 {
  --un-bg-opacity: 1;
  background-color: rgba(7, 89, 133, var(--un-bg-opacity));
}
.bg-sky-900 {
  --un-bg-opacity: 1;
  background-color: rgba(12, 74, 110, var(--un-bg-opacity));
}
.p-3 {
  padding: 0.75rem;
}
@media (min-width: 640px) {
  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .sm\:bg-white {
    --un-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--un-bg-opacity));
  }
}
@media (min-width: 768px) {
  .md\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  .lg\:grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
@media (min-width: 1280px) {
  .xl\:grid-cols-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}
@media (min-width: 1536px) {
  .\32 xl\:grid-cols-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }
}
