<!--
Revision 2
 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vue2-ashley-points-calculator (revision 2)</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="app.css" />
  </head>
  <body>
    <h2>Revision 2 (B)</h2>

    <div id="pointsCalculator">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-9 col-12 pointsCol">
            <div class="visaHeading">
              <h2>Points calculator</h2>
              <p v-if="!VisaQuiz">Select visa subclass:</p>
            </div>

            <div class="selectVisaButtons" v-if="!VisaQuiz">
              <p>Select visa subclass</p>

              <div v-for="(visa, index) in visas" :key="index">
                <div class="main-section">
                  <label>
                    <input type="radio" v-model="VisaQuiz" :value="visa.id" />
                    &nbsp;<span>{{ visa.heading }}</span>
                  </label>
                </div>
              </div>
            </div>

            <!-- Visa questions -->
            <div v-if="VisaQuiz">
              <h4>{{ selectedVisa.heading }}</h4>
              <p>
                To check how many points you might score use the
                <a href="#">points table.</a>
              </p>

              <div>
                <!-- Progress Bar -->
                <div>
                  <h4>
                    <span>Question {{ currentVisaQuestionIndex + 1 }} </span> of
                    {{ selectedVisa.questions.length }}
                  </h4>
                  <div class="progress">
                    <div
                      class="progress-bar"
                      role="progressbar"
                      :style="'width:'+ percentage + '%'"
                      :aria-valuenow="percentage"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
                <!-- / Progress Bar -->

                <!-- Visa questions -->
                <div
                  v-for="(q, index) in selectedVisa.questions"
                  class="BII_Visa form-group"
                  v-show="q.checked"
                >
                  <h5>{{ q.heading }}</h5>
                  <div v-html="q.content"></div>
                  <br />
                  <h6>{{ q.subheading }}</h6>
                  <select
                    class="form-control"
                    v-model="q.model"
                    @input="questionOnChange(index)"
                  >
                    <option selected disabled>Please select</option>
                    <option v-for="o in q.options" :value="o.value">
                      {{ o.name }}
                    </option>
                  </select>
                </div>
                <!-- / Questions -->
              </div>
            </div>
            <!-- / Visa questions -->
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
